<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Web Speech AI chatbot</title>
  </head>
  <body>
    <section>
      <h1>AI Chat-Bot</h1>
      <h2>with Web Speech API</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
        <p>You said: <em class="output-you"></em></p>
        <p>Bot replied: <em class="output-bot"></em></p>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
